*{
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.base-type{
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 20px;
}
.play-msg{
	width: 40%;
	height: 150px;
	text-align: center;
}
.play-msg .life{
	width: 70%;
	background-color: silver;
	height: 60px;
	margin: 0 auto;
	opacity: 0.3;
	margin-top: 15px;
	color: #FFFFFF;
}
.progress-bar{
	width: 100%;
	height: 60px;
	background-color: red;
}
.right{
	float: right;
}
.btn{
	width: 70%;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	box-shadow: 2px 2px 2px #969696;
	border: 1px solid #C0C0C0;
	line-height: 100px;
}
.btn input{
	background-color: greenyellow;
	border: 0;
	height: 30px;
	width: 150px;
}
.log{
	width: 70%;
	margin: 0 auto;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	border: 1px solid #C0C0C0;
	box-shadow: 2px 2px 2px #969696;
	margin-top: 20px;
	color: #FFFFFF;
}
.playerAttackLog{
	width: 90%;
	background-color: cornflowerblue;
	margin: 0 auto;
	margin-top: 5px;
}
.montherAttackLog{
	width: 90%;
	background-color: pink;
	margin: 0 auto;
	margin-top: 5px;
}