<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="css/index.css" />
	</head>
	<body>
		<div id="app">
			<div class="base-type">
				<div class="play-msg">
					<h3>YOU</h3>
					<div class="life">
						<div class="progress-bar" :style="playerLife">{{ playerStartLife }}</div>
					</div>
				</div>
				<div class="play-msg">
					<h3>MONSTER</h3>
					<div class="life">
						<div class="progress-bar right" :style="monsterLife">{{ monsterStartLife }}</div>
					</div>
				</div>
			</div>
			<div v-if="isStart==false" class="btn">
				<input type="button" value="START NEW GAME" @click="startGame()"/>
			</div>
			<div v-else class="btn">
				<input type="button" value="ATTACK" @click="attack()"/>
				<input type="button" value="BIG ATTACK"/>
				<input type="button" value="Treatment"/>
				<input type="button" value="GIVE UP"/>
			</div>
			<div class="log" v-if="attackLogs.length != 0">
				<h5 v-for="(attackLog,index) in attackLogs" :class="index%2==0?'playerAttackLog':'montherAttackLog'">{{ attackLog }}</h5>
			</div>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: {
				isStart : false,
				attackLogs: [],
				playerStartLife: 100,
				monsterStartLife: 100
			},
			computed: {
				playerLife: function(){
					return {
						width : this.playerStartLife + '%'
					}
				},
				monsterLife: function(){
					return {
						width : this.monsterStartLife + '%'
					}
				}
			},
			methods: {
				startGame : function(){
					this.isStart = true;
				},
				attack : function(){
					var PlayerAttackNum = Math.floor(Math.random()*7+1);
					var MontherAttackNum = Math.floor(Math.random()*8+1);
//					console.log(attackNum);
					this.monsterStartLife -= PlayerAttackNum;
					if(this.monsterStartLife<=0){
						this.monsterStartLife = 0;
						alert("YOU WIN");
					}
					this.playerStartLife -= MontherAttackNum;
					if(this.playerStartLife<=0){
						this.playerStartLife = 0;
						alert("YOU LOSS");
					}
					this.attackLogs.push("PLAYER HITS MONTHER FOR "+PlayerAttackNum);
					this.attackLogs.push("MONTHER HITS PLAYER FOR "+MontherAttackNum);
				}
			}
		})
	</script>
</html>
